<section>
  <header class="heading-bar">
    <h5>About Thomas</h5>
  </header>
  <p><img src="/images/thomas.jpg" class="img-polaroid"></p>
  <p>As a self-taught web developer and script-artist Thomas is currently working for Salesforce.com in Dublin, Ireland.</p>
  <p>His position allows him to play around on Heroku and the Force.com platform creating mobile and web applications mostly customer focused and assisting the global sales organization.</p>
  <p>He also travels the world to speak and teach the cloud.</p>
</section>