<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/pretty.js"></script>
<script src="/javascripts/bootstrap-transition.js"></script>
<script src="/javascripts/bootstrap-alert.js"></script>
<script src="/javascripts/bootstrap-modal.js"></script>
<script src="/javascripts/bootstrap-dropdown.js"></script>
<script src="/javascripts/bootstrap-scrollspy.js"></script>
<script src="/javascripts/bootstrap-tab.js"></script>
<script src="/javascripts/bootstrap-tooltip.js"></script>
<script src="/javascripts/bootstrap-popover.js"></script>
<script src="/javascripts/bootstrap-button.js"></script>
<script src="/javascripts/bootstrap-collapse.js"></script>
<script src="/javascripts/bootstrap-carousel.js"></script>
<script src="/javascripts/bootstrap-typeahead.js"></script>
<script src="/javascripts/bootstrap-affix.js"></script>
<script src="/javascripts/app.js"></script>
<script>
  new Application({
    twitter: {
      user: '{{site.twitter_user}}',
      count: {{site.twitter_tweet_count}},
      replies: {{site.twitter_show_replies}},
      target: '#tweets',
      sharing: {% if site.twitter_follow_button or site.twitter_tweet_button %}true{% else %}false{% endif %}
    },
    github: {
      user: '{{site.github_user}}',
      count: {{site.github_repo_count}},
      skip_forks: {{site.github_skip_forks}},
      target: '#gh_repos'
    },
    google: {
      sharing: {% if site.google_plus_one %}true{% else %}false{% endif %}
    },
    facebook: {
      sharing: {% if site.facebook_like %}true{% else %}false{% endif %},
      app_id: '{{site.facebook_app_id}}'
    }
  })
</script>
{% include disqus.html %}
