{% unless page.no_header %}
{% include post/date.html %}
<div class="heading-bar{% unless first %}{% assign first = true %}{% else %} bordered{% endunless %}">
  {% if index %}
    <h1 class="entry-title"><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a> <small>{{ time }}</small></h1>
  {% else %}
    <h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %} <small>{{ time }}</small></h1>
  {% endif %}
  <p class="meta">
    {% assign tags = page.tags %}
    {% unless tags %}{% assign tags = post.tags %}{% endunless %}
    {% for tag in tags %}
    <span class="label">{{ tag }}</span>
    {% endfor %}
  </p>
</div>
{% endunless %}  
{% if index %}
<div class="padded">{{ content | excerpt }}</div>
  {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
  {% if excerpted == 'true' %}
  <footer>
    <a rel="full-article" href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
  </footer>
  {% endif %}
{% else %}
<div class="padded">{{ content }}</div>
{% endif %}