<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a href="/" class="brand">{{ site.title }}</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="{% if page.url == '/index.html' %}active{% endif %}{% if page.comments %}active{% endif %}"><a href="{{ root_url }}/">Blog</a></li>
          <li class="{% if page.url == '/archives/index.html' %}active{% endif %}"><a href="{{ root_url }}/archives">Archives</a></li>
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Subscribe <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <a href="{{ site.subscribe_rss }}" rel="subscribe-rss" title="subscribe via RSS">RSS</a>
              </li>
              {% if site.subscribe_email %}
                <li>
                  <a href="{{ site.subscribe_email }}" rel="subscribe-email" title="subscribe via email">Email</a>
                </li>
              {% endif %}
            </ul>
          </li>
        </ul>
        <form action="{{ site.simple_search }}" method="get" class="navbar-search pull-right">
          <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}" />
          <div class="input-prepend">
            <span class="add-on">
              <i class="input-placeholder icon-search"></i>
            </span>
            <input type="text" name="q" results="0" placeholder="Search" class="span2">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>